@import "~bootstrap/dist/css/bootstrap.css";
@import "variables";

html {
  //background: $main-color-dark;
}

body {
  background: $bg-color !important;
  color: $text-color;
}

h1,
.b-main-title {
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: 1px;
  font-weight: bold;
}

.nav-link {
  color: white;

  &:hover {
    color: white;
    text-decoration: underline;
  }
}

.b-header .navbar-light {
  background: $main-color;
}

.b-header .navbar-light .navbar-brand {
  color: white;

  &:hover,
  &:focus {
    color: white;
  }
}

.b-box {
  background-color: white;
  position: relative;
}

.b-box--bordered {
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.05);
}

.b-image-container {
  background: $main-color-dark;
}

.b-footer {
  color: white;

  a {
    color: white;
    text-decoration: underline;

    &:hover {
      color: $main-color;
    }
  }
}
