@import "~bootstrap/dist/css/bootstrap.css";

body {
  background: #eff3f6 !important;
}

.nav-link {
  color: white;

  &:hover {
    color: white;
    text-decoration: underline;
  }
}

.b-header .navbar-light .navbar-brand {
  color: white;
}

.b-box {
  background-color: white;
  position: relative;
}

.b-box--bordered {
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.05);
}
